
body {
  background-color: #4a374a
}


#boot {
  width: 30%;
  height: 300px;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 12%;

  /* background-color: #0e9894; */

}


#login-h1 {
  height: 100px;
  margin: 6px;
  padding: 4px;
  text-align: center;
}

#login-h1 span {
  font-size: 1.67em;
  line-height: 100px;
  color: #fff;
  text-shadow: 0 0 10px;
  font-style: sans-serif;
}

.login-form {
  text-align: center;
  vertical-align: middle;
}
.login-form input {
  width: 80%;
  height: 32px;
  margin: 4px 4px;
  padding: 2px;
  background-color: rgb(215,219,219);
  border-radius: 4px;
  outline: none;
  text-shadow: 1px 1px 1px;
}

#login-button {
  height: 40px;
  width: 81%;
  display: block;
  margin: 4px auto;
  margin-top: 8px;
  padding: 2px;
  background-color: rgb(74,119,222);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  text-shadow: 0 0 8px;
  color: rgb(245,248,250);
  font-style: italic;
}
